body {
    background: linear-gradient(to left, #007ddc, #FA597B);
    background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#007ddc), to(#FA597B));
    background: -webkit-linear-gradient(right, #007ddc, #FA597B);
    background: -moz-linear-gradient(right, #007ddc, #FA597B);
    background: -ms-linear-gradient(right, #007ddc, #FA597B);
    background: -o-linear-gradient(right, #007ddc, #FA597B);
    font-family: sans-serif;
    margin: 0;
}

.login-page {
	box-sizing: border-box;
	min-width: 600px;
	max-width: 800px;
	width: 60%;
	overflow: auto;
    margin: auto;
}

.login-page__landing {
	display: inline-block;
	width: 40%;
	font-size: 22pt;
}

.login-page__input-forms {
	display: inline-block;
    float: right;
}

.input-forms__login {
    text-align: center;
    margin: 25px 0;
    padding: 10px;
	width: 230px;
    background: rgba(228, 228, 228, 0.7);	
}

.login__label {
	display: inline-block;
	margin-bottom: 10px;
}

.login__field {
	display: block;
    box-sizing: border-box;
    padding: 8px;
    margin: 10px 0;
    width: 100%;
    border: 0;
}

.login__button {
	border: 0;
    padding: 7px 17px;
    background-color: white;
}