.none {
  display: none !important;
}

body {
  margin: 0;
  background: linear-gradient(to left, #007ddc, #FA597B);
  background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#007ddc), to(#FA597B));
  background: -webkit-linear-gradient(right, #007ddc, #FA597B);
  background: -moz-linear-gradient(right, #007ddc, #FA597B);
  background: -ms-linear-gradient(right, #007ddc, #FA597B);
  background: -o-linear-gradient(right, #007ddc, #FA597B);
  font-family: sans-serif;
  height: 100%;
}

p {
  margin: 0 0 5px;
}

.article {
  background: #FFF;
  border: 1px solid rgba(0, 89, 181, 0.82);
  width: 600px;
  margin: 0 0 5px;
  box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
  padding: 3px 5px;
}

.news_author {
  text-decoration: underline;
  color: #007DDC;
}
.news_count {
  margin: 10px 0 0 0;
  display: block;
}

.test-input {
  margin: 0 5px 5px 0;
} 

.add {
  margin: 0 5px 5px 0;
  width: 210px;
  border: 1px dashed rgba(0, 89, 181, 0.82);
  padding: 5px;
}
.add__author, .add__text, .add__btn, .add__checkrule {
  display: block;
  margin: 0 0 5px 0;
  padding: 5px;
  width: 94%;
  border: 1px solid rgba(0, 89, 181, 0.82);
}
.add__checkrule {
  border: none;
  font-size: 12px;
}
.add__btn {
  box-sizing: content-box;
  color: #FFF;
  text-transform: uppercase;
  background: #007DDC;
}
.add__btn:disabled {
  background: #CCC;
  color: #999;
}

.logout_button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background: #007DDC;
  color: #FFF;
}