<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>
    <div class="login-page">
		<div class="login-page__landing">
			<h1>KV</h1>
			<h3>Join us and all will be fine</h3>
		</div>
		<div class="login-page__input-forms">
			<form class="input-forms__login" name="login" action="/login" method="post">
				<label class="login__label">Login</label>
				<input class="login__field" name="email" type="email" maxlength="30" placeholder="e-mail" required>
				<input class="login__field" name="password" type="password" placeholder="password" required>
				<input class="login__batton" type="submit" value="Login">
			</form>
			<form class="input-forms__login" name="login" action="/login">
				<label class="login__label">Registration</label>
				<input class="login__field" type="email" maxlength="30" placeholder="e-mail" required>
				<input class="login__field" type="text" maxlength="30" placeholder="firstname" required>
				<input class="login__field" type="text" maxlength="30" placeholder="lastname" required>
				<input class="login__field" type="password" placeholder="password" required>
				<input class="login__field" type="password" placeholder="password again" required>
				<input class="login__batton" type="submit" value="Login">
			</form>
		</div>
	</div>
</body>
</html>